<!-- <cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="getBatch($event)">

    <li *cdkVirtualFor="let p of people;" class="animated slideInRight">
        <h2> {{p.emoji}} - {{p.name}}</h2>
        <p>{{p.bio}}</p>
    </li>


</cdk-virtual-scroll-viewport> -->

<p-table
  [columns]="cols"
  [value]="virtualCars"
  [scrollable]="true"
  [rows]="20"
  scrollHeight="200px"
  [virtualScroll]="true"
  (onLazyLoad)="loadDataOnScroll($event)"
  [lazy]="true"
  [totalRecords]="totalRecords"
  [virtualRowHeight]="34"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr style="height:34px">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns="columns">
    <tr style="height:34px">
      <td *ngFor="let col of columns">
        <div class="loading-text"></div>
      </td>
    </tr>
  </ng-template>
</p-table>
